<launch>
	<group>
		<node pkg="mav_form" type="drone_lead_nonav" name="lead" output="screen" ns="/drone1">
			<param name="namespace" value="/drone1"/>
			<param name="use_sim_time"  value="true" />
			<param name="number" value="1" />
		</node>
	</group>

	<group>
		<node pkg="mav_form" type="drone_follow" name="follow" output="screen" ns="/drone2">
			<!-- pkg = folder, type = .cpp name  output =???? ns = node name/namespace -->
			<param name="namespace" value="/drone2"/>
			<param name="use_sim_time"  value="true" />
			<param name="number" value="2" />
			<param name="x_offset" value="-5.0" />
			<param name="y_offset" value ="0.0" />
		</node>
	</group>

</launch>
