<launch>
	<group>
		<node pkg="mav_form" type="mission2" name="lead" output="screen" ns="/drone1">
			<param name="namespace" value="/drone1"/>
			<param name="use_sim_time"  value="true" />
		</node>
	</group>

	<group>
		
		<node pkg="mav_form" type="follower" name="follow" output="screen" ns="/drone2">
			<!-- pkg = folder, type = .cpp name  output =???? ns = node name/namespace -->
			<param name="namespace" value="/drone2"/>
			<param name="use_sim_time"  value="true" />
		</node>
	</group>
</launch>
