<launch>
	<!-- Start Navigation Node -->
	<group>
		<node pkg="mav_form" type="nav_manager" name="navigation_manager" output="screen" ns="/gnc"> /
		<!--pkg is main file, type is is file name, name is unique identifier, ns is-->
			<param name="namespace" value="/nav_manager"/>
			<param name="use_sim_time"  value="true" />
		</node>
	</group>

	<!-- Start Formation Control Node -->
	<group> 
		<node pkg="mav_form" type="form_manager" name="formation_manager" output="screen" ns="/gnc">
			<param name="namespace" value="/form_manager"/>
			<param name="use_sim_time"  value="true" />
		</node>
	</group>
</launch>
